#node{
  width: 100%;
  /*min-height: 100px;*/
  
  background-color: white;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0;
  /*border: 3px solid #eee;*/
  border-radius: 5px;
}

#select, #transform {
  /*min-height: 200px;*/
  border-bottom: 3px solid #eee;
  padding: 5px;
}

#view {
  padding: 5px;
}

#chartcontainer {
  position: relative;
  width: 100%;
  overflow-x: hidden;
}

core-item::shadow #label{
  padding: 5px;
  background-color: #eee;
  cursor: pointer;
}

.heading {
  color: black;
  font-weight: 600;
  padding: 5px;
}
.input, .transform, .visualize {
  border: 3px solid #eee;
}

#toggle {
  float: right;
}

.toggle-text {
  float: right;
  margin: 0px 5px;
}

paper-toggle-button::shadow [checked] .toggle {
  background-color: #536482;
}

paper-toggle-button::shadow [checked] .toggle-ink {
  color: #536482;
}

.resize {
  position: absolute;
  right: -3px;
  bottom: -3px;
  width: 15px;
  height: 15px;
  cursor: s-resize;
}

.optionsContainer {
  margin-left: 0;
  width: 300px;
  height: 100%;
  position: absolute;
  transition: 1s;
  z-index: 1001;
}

.closed {
  transition: 1s;
  margin-left: -300px;
}

#open, #close {
  position: absolute;
  top: 45%;
  right: -25px;
  width: 25px;
  height: 25px;
  background-color: #536482;
  color: white;
  cursor: pointer;
  z-index: 1001;
}
